<!DOCTYPE html>
<html>
  <head>
    <title>Divisas</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>

<script src="/panel/js/jquery.js"></script>
<script src="/panel/js/bootstrap.min.js"></script>
<script src="/panel/js/jquery-ui.js"></script>
<script src="/panel/js/revolution.min.js"></script>
<script src="/panel/js/jquery.fancybox.pack.js"></script>
<script src="/panel/js/jquery.fancybox-media.js"></script>
<script src="/panel/js/owl.js"></script>
<script src="/panel/js/wow.js"></script>
<script src="/panel/js/appear.js"></script>
<script src="/panel/js/script.js"></script>

<!-- jQuery 2.2.3 -->
<script src="/panel/js/jquery-2.2.3.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Morris.js charts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script>
<script src="/panel/js/morris.min.js"></script>
<!-- Sparkline -->
<script src="/panel/js/jquery.sparkline.min.js"></script>
<!-- jvectormap -->
<script src="/panel/js/jquery-jvectormap-1.2.2.min.js"></script>
<script src="/panel/js/jquery-jvectormap-world-mill-en.js"></script>
<!-- jQuery Knob Chart -->
<script src="/panel/js/jquery.knob.js"></script>
<!-- daterangepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="/panel/js/daterangepicker.js"></script>
<!-- datepicker -->
<script src="/panel/js/bootstrap-datepicker.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/panel/js/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="/panel/js/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/panel/js/fastclick.js"></script>
<!-- AdminLTE App -->
<script src="/panel/js/app.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/panel/js/dashboard.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/panel/js/demo.js"></script> 
  <link rel="stylesheet" type="text/css" href="/panel/DataTables/css/jquery.dataTables.css"/>

<script type="text/javascript" src="/panel/DataTables/js/jquery.dataTables.js"></script>
</html>
